# Ignore virtual environment
venv/

# Ignore Django migration files
**/migrations/

# Ignore any local settings
app/settings_local.py

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore system-specific files
*.pyc
*.pyo
.DS_Store

