{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <p> Hello this is the home page </p>

    {% if user.is_authenticated %}
    <p>Logged in as {{ user.username }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="login-btn">Logout</button>
    </form>
    {% else %}
        <a href="{% url 'login' %}" class="login-btn">Login</a>
        <a href="{% url 'register' %}" class="register-btn">Register</a>
{% endif %}
</body>
</html>